html,
body,
#root,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow: hidden;
  background-color: white;
}

#root {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.softkey-placeholder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--softkeybar-height);
  color: var(--softkey-color);
  background-color: var(--softkeybar-background-color);
  display: flex;

  button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: block;
    width: 100%;
    height: var(--softkeybar-height, 3rem);
    line-height: var(--softkeybar-height, 3rem);
    border: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: inherit;
    font-size: var(--softkey-font-size);
    font-weight: var(--softkey-font-weight);
    letter-spacing: -0.04rem;
    color: var(--softkey-color);
    background: unset;
  }

  button:first-child {
    text-align: left;
  }

  button:last-child {
    text-align: right;
  }
}

.content-placeholder {
  width: 100%;
  position: relative;
  height: calc(100% - var(--header-height) - var(--softkeybar-height) - var(--statusbar-height));
  overflow-y: scroll;
  overflow-x: hidden;
}

#app {
  .app-content {
    position: relative;
    height: calc(100% - var(--statusbar-height) - var(--softkeybar-height));
    overflow: hidden;

    > div {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.body {
  height: calc(100% - var(--header-height));
  overflow-y: scroll;
  position: relative;
}

.highlight {
  font-weight: bold;
}

html[dir='rtl'] .icon.arrow-to-right {
  transform: rotate(180deg);
}

:focus {
  outline: none;
}

.list-item {
  .content a {
    vertical-align: middle;
  }

  &.focus input,
  input:focus {
    border: solid 1px transparent;
  }

  input[type="checkbox"] {
    display: none;
  }

  .icon {
    min-width: 3.2rem;
  }

  [data-icon] {
    font-size: 3.2rem;
    height: 100%;
    color: var(--highlight-color);
  }

  &:focus {
    [data-icon] {
      color: var(--color-gs00);
    }
  }

  &:not([data-type="input"]) {
    padding-right: 0.5rem;
  }
}

.progress {
  height: 0.6rem;
}

input:invalid {
  color: red;
}

#software-keys-center {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

html[dir="rtl"] .number,
html[dir="rtl"] input {
  direction: ltr;
  text-align: right;
}

.large-text {
  .h1 {
    font-size: 2.2rem;
  }

  .h2 {
    font-size: 2.2rem;
  }

  .h3 {
    font-size: 1.8rem;
  }

  .h4 {
    font-size: 1.8rem;
  }

  .h5 {
    font-size: 1.8rem;
  }

  .p-ul {
    font-size: 2.2rem;
  }

  .primary {
    font-size: 2.2rem;
  }

  .secondary {
    font-size: 1.8rem;
  }

  .thirdary {
    font-size: 1.6rem;
  }
}
